:root {
    --clr-black: #000000;
    --clr-primary: #e30813;
    --clr-white: #fff;
    --clr-gray: #222;

    --p-x: 1rem; /* padding x */
    --p-y: 2rem; /* padding y */


}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--clr-black);
    color: var(--clr-white);
}

@media screen and (min-width: 768px) {
    :root {
        --p-x: 2rem; /* padding x */
        --p-y: 4rem; /* padding y */
    }

}

@media screen and (min-width: 1024px) {

    html {
        font-size: 22px;
    }
}

@media screen and (min-width: 1440px) {

    :root {
        --p-x: 3rem; /* padding x */
        --p-y: 6rem; /* padding y */
    }

    html {
        font-size: 26px;
    }
}

/* Component button */

.btn {
    border: 2px solid var(--clr-primary);
    background-color: var(--clr-primary);
    color: var(--clr-white);
    border-radius: 4px;
    padding: 2px 8px;
    cursor: pointer;
}

.btn:hover {
    background-color: #f50035;
    color: var(--clr-white);
    transition: all 300ms ease-in-out;
    transform: scale(1.05);
}

/* Component section */
section {
    border-bottom: 7px solid var(--clr-gray);
}

/* Input section */

.input-wrapper {
    display: flex;
    flex-wrap: wrap;
    row-gap: 0.5rem;
    justify-content: center;
    align-items: center;
}

.input-wrapper .input {
    width: 100%;
    border: none;
    padding: 0.5rem 0.75rem;
    border-radius: 4px;
    box-shadow: -2px 2px 5px 0px rgba(0, 0, 0, 0.75);
    ;
}

@media screen and (min-width: 640px) {
    .input-wrapper {
        margin-left: auto;
        margin-right: auto;
        flex-wrap: nowrap;
        row-gap: unset;
        justify-content: start;
        align-items: stretch;
        width: 480px;
    }

    .input-wrapper .input {
        width: calc(100% - 160px);
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    } 

    .input-wrapper .btn {
        width: 160px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }

    .input-wrapper .btn:hover {
        background-color: #f50035;
        color: var(--clr-white);
        transform: unset;
    }
}

@media screen and (min-width: 768px) {
    .input-wrapper {
        width: 600px;
    }

    .input-wrapper .input {
        width: calc(100% - 180px);
    } 

    .input-wrapper .btn {
        width: 180px;
    }

}

/* Header */

.header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    z-index: 1000;
}

.header img {
    height: 40px;
}

/* Hero Section */

#hero {
    height: 100vh;
    position: relative;
    padding: 0px var(--p-x);
    ;
}

#hero .bg-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
}

#hero .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
    background: rgb(0, 0, 0.4);
    background: linear-gradient(37deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.35) 30%, rgba(0, 0, 0, 0.35) 70%, rgba(0, 0, 0, 0.8) 100%);
}

#hero .content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#hero .content .title {
    font-size: 2rem;
    line-height: 1.1;
    margin-bottom: 1.5rem;
}

#hero .content .sub-title {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 1rem;
}

#hero .content .sub-title:last-of-type {
    margin-bottom: 0.5rem;
}


#hero .content .hint {
    font-size: 1;
    font-weight: 400;
}

#hero .input-wrapper {
    margin-bottom: 1rem;
}

/* Feature sections */

.title--section {
    font-size: 1.5rem;
    text-align: center;
}

.feature-section {
    padding: var(--p-y) var(--p-x);
    text-align: center;
}

.feature-section .content {
    margin-bottom: 1rem;;
}

.feature-section .content .title {
    margin-bottom: 0.5rem;
}

.feature-section .content .desc {
    font-size: 1rem;
}

.feature-section .feature-img {
    width: 100%;
    max-width: 480px;
    display: block;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .feature-section,
        .title--section {
        text-align: left;
    }

    .feature-section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 1rem;
    }

    .feature-section:nth-of-type(odd) .feature-img {
        order: -1;
    }

    .feature-section .feature-img {
        max-width: unset;
    }

}

/* FAQ */

#faq {
    padding: var(--p-y) 0px;
}

#faq .title--section {
    margin-bottom: 1rem;
}

#faq .questions {
    margin-bottom: 2rem;
}

#faq .questions > * + * {
    margin-top: 0.5rem;
}

#faq .questions .question {
    background-color: var(--clr-gray);
    padding: 0.5rem var(--p-x);
    max-width: 680px;
    margin-left: auto;
    margin-right: auto;
}

#faq .questions .question .line {
display: flex;
justify-content: space-between;
align-items: center;
}

#faq .questions .question .line .text {
    font-weight: 500;
}

#faq .questions .question .line .btn-icon {
    border: none;
    background-color: transparent;
    padding: 0px;
    color: var(--clr-white);
    font-size: 1.5rem;
    transform: all 300 ms ease-in-out;
    cursor: pointer;
}

#faq .questions .question .line .btn-icon:hover {
    transform: translateY(-2px);
}

#faq .questions .question .content {
    height: 0px;
    overflow: hidden;
}



#faq .subscription {
    padding: 0px var(--p-x);
    text-align: center;
    max-width: 680px;
    margin-left: auto;
    margin-right: auto;
}

#faq .subscription .title {
    font-weight: 500;
    margin-bottom: 0px auto 1rem auto;
    max-width: 460px;
}

#faq .title--section {
    text-align: center;
}

