:root {
    --clr-black: #000000;
    --clr-primary: #e30813;
    --clr-white: #fff;
    --clr-gray: #222;

}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--clr-black);
    color: var(--clr-white);
}

/* Component button */

.btn {
    border: 2px solid var(--clr-primary);
    background-color: var(--clr-primary);
    color: var(--clr-white);
    border-radius: 0.25rem;
    padding: 0.125rem 0.75rem;
    cursor: pointer;
}

.btn:hover {
    background-color: #f50035;
    color: var(--clr-white);
    transition: all 300ms ease-in-out;
    transform: scale(1.05);
}

/* Header */

.header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    z-index: 1000;
}

.header img {
    height: 40px;
}

/* Hero Section */

#hero {
    height: 100vh;
    position: relative;
}

#hero .bg-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
}